body {
  background-color: #B4E3E6;
}
/* This photo is a copyright found on website: 
https://www.usta.com/en/home/organize/grants-and-assistance/national/36_---60_-court-resources.html*/ 
.jumbotron{
  background-color: #7999AD;
}
.portfolio, .about-me, .contact {
  color:#11527A;
  font-family: 'Libre Baskerville', serif;
}
.portfolio-text1 {
  text-align: right;
  font-size: 18px;
}
.footer {
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #7999AD;
  color: white;
  text-align: center;
  border-top: 5px solid#11527A;  
}
#portfolio-pic {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 100%;
  height: auto;
  margin: 1%;
}
#about-me-pic {
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 5px;
  width: 200px;
  height: 350px;
  margin: 1%;
}
.navbar {
  left: 0;
  top: 0;
  width: 100%;
  border-bottom: 5px solid#11527A;  
}
.bg-light{
  background-color: #7999AD!important;
  color: white!important;
  font-family: 'Rubik', sans-serif;
}
.navbar-brand{
  color: white!important;
  font-size: larger;
  font-weight: bold;
  font-family: 'Rubik', sans-serif;
}
.nav-link{
  color: white!important;
  font-family: 'Rubik', sans-serif;
}
.links{
  color:white
}
figcaption{
  color: white;
}