body {
  background-image: url("./tennis-court-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/* This photo is a copyright found on website: 
https://www.usta.com/en/home/organize/grants-and-assistance/national/36_---60_-court-resources.html*/ 

.portfolio {
  color:darkturquoise;
}
.card {
  margin: 1%;
}
#portfolio-pic {
    width: 350px;
    height: 350px;
    margin: 1%;
    padding: 1%;
}
.portfolio-text1 {
  text-align: right;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: darkgray;
  color: white;
  text-align: center;
  border-top: 5px solid darkturquoise;  
}
#portfolio-pic {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 100%;
  height: auto;
  margin: 1%;
}
.bottomleft {
  position:absolute;
  bottom: 8px;
  left: 16px;
  font-size: 18px;
}

#about-me-pic {
  border: 1px solid #ddd;
  border-radius: 1px;
  padding: 5px;
  width: 350px;
  height: 350px;
  margin: 1%;
}
#portfolio-text1 {
  font-size: 18px;
}