body {
  background-image: url("./tennis-court-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/* This photo is a copyright found on website: 
https://www.usta.com/en/home/organize/grants-and-assistance/national/36_---60_-court-resources.html*/ 
.navbar {
  border-bottom: 3px solid lightgrey;
  }
.navbar-brand {
  color: white;
  background-color: darkturquoise;
  width: 12%;
  float:left;
  display: block;
  }
.nav-index {
  float:right;
  }
.nav-portfolio {
  float: right;
  }
.nav-contact {
  float: right;
  }
.card {
  margin: 10%;
}
.card-title {
  text-align: center;
  margin: 10%;
}
#portfolio-pic {
    margin: 5%;
    padding: 5%;
}